@charset "utf-8";
/* ANYI - CSS - MAIN
 * https://github.com/anyisoft-huawei
 * 安逸 E-mail: yxhuawei@qq.com
 * License MIT
 */

/* 全局部分 */
body{margin: 0 0px auto; padding: 0;}
/*{user-select: none;}/*禁止选择div文本*/
*::after, *::before { margin: 0 auto; padding: 0; box-sizing: border-box;  }
li{list-style: none;}/*取消li的默认风格*/
/* 风格 */
.anyi-inline{display:inline!important;}
.anyi-inblock{display:inline-block!important;}
.anyi-block{display:block!important;}
.anyi-flex{display:flex!important;}
.anyi-item{display:list-item!important;}

/* 页面布局 */
.anyi-header{ margin: 0 auto; width: 100%; height: 50px; display:inline-block; position: fixed; background-color: #fff;box-shadow: 0px 1px 2px #00000054; z-index: 9000;}
.anyi-nvi{ display:inline-block; width: 15%; height: calc(100% - 86px); top: 50px; margin: 5px 0; display:block; position: fixed; border-right: 1px solid #0000001f; overflow:auto; text-align: center; z-index: 8000;}
.anyi-content{ display:block; position: fixed; top: 50px; left: 15%; width: calc(85% - 10px); height: calc(100% - 86px); margin: 5px 5px auto; border-right:none; overflow:auto;z-index: 7000; }
.anyi-footer{ position: relative; height: 20px; display:block; border-top: 1px solid #0000001f; text-align: center;background-color: #fff;border-left:1px solid #0000001f; }
.anyi-footer-fixed{ position: fixed; height: 26px; line-height: 26px;top:calc(100% - 26px) ; left: 0%; width: 100% ; display:block; border-top: 1px solid #0000001f; background-color: #fff;}

.anyi-float-left{ float: left!important;}
.anyi-left{position: absolute;left: 0; top:0;}
.anyi-right{position: absolute;right: 0; top:0;}
.anyi-nva{ margin: 0 auto; padding: 0 30px; line-height: 50px;}

/* 字体 */
.anyi-font8{ font-size: 8px!important;}
.anyi-font10{ font-size: 10px!important;}
.anyi-font12{ font-size: 12px!important;}
.anyi-font13{ font-size: 13px!important;}
.anyi-font15{ font-size: 15px!important;}
.anyi-font16{ font-size: 16px!important;}
.anyi-font17{ font-size: 17px!important;}
.anyi-font18{ font-size: 18px!important;}
.anyi-font19{ font-size: 19px!important;}
.anyi-font20{ font-size: 20px!important;}
.anyi-font22{ font-size: 22px!important;}
.anyi-font26{ font-size: 26px!important;}
/* 自定义字体图标 */
@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.svg');
}
.anyi-iconfont{ font-family: 'iconfont'; font-size: 16px; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
 
/* 卡片 */
.anyi-card{ border: 1px solid #00000054; box-shadow: -2px 2px 10px #00000054;background-color: #fff; }
.anyi-card2{ border: 1px solid #00000054; box-shadow: -2px -2px 10px #00000054;background-color: #fff;  }

/* 菜单 */
.anyi-menu{ display: block; line-height: 30px; margin: 0; padding: 0; color: #e74514; user-select: none;}
.anyi-menu:hover{cursor: pointer;}
.anyi-menu ul,
.anyi-menu dl{display: none; margin: 0; padding: 0;}
.anyi-menu[anyi-expand] ul,
.anyi-menu[anyi-expand] dl{ display: block;  color: #000; }
.anyi-menu dd,
.anyi-menu li{ margin: 0; }
.anyi-menu dd:hover,
.anyi-menu li:hover{ background-color: #7a7a7a6b; }
.anyi-menu:before{ display: inline; position: absolute; content: "\2b9c"; margin: 0; right: 10px; color: #337aff;}
.anyi-menu[anyi-expand]:before { content: "\2b9f"; }
/* 菜单间隔线 */
.anyi-menu-line{background-color: #d3d2d2;margin:5px 5px; height: 1px; box-shadow: 0px 1px 10px #00000054;}
/* 下拉菜单 */
.anyi-menudown{display: inline-block;position: relative;user-select: none;}
.anyi-menudown:hover{background-color: #f7edb1;}
.anyi-menudown::after{ display: inline-block; position: relative; content: "\2b9c "; margin: 0;width: 1em;  color: #337aff; }
.anyi-menudown:hover:after { content: "\2b9f"; }
.anyi-menudown:hover ul,
.anyi-menudown:hover dl,
.anyi-menudown[anyi-expand] dl,
.anyi-menudown[anyi-expand] ul{display: block;}
.anyi-menudown ul,
.anyi-menudown dl{ position: absolute; display: none;width: 100px; line-height: 30px; margin: 0; padding: 0; color: #000;text-align: center;}
.anyi-menudown li,
.anyi-menudown dd{ margin: 0; }
.anyi-menudown li:hover,
.anyi-menudown dd:hover{ background-color: #7a7a7a6b; }

/* 状态 */
.anyi-selected{ background-color: #91f87cd5; }/*选择*/
.anyi-unexpand dl{ display: none; }/*收缩*/
.anyi-unexpand ul{ display: none; }/*收缩*/
.anyi-hidden{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 1.25s;
}


/* 图标 */
.anyi-icon{width: 32px;height: 32px;border-radius: 100%; vertical-align: middle; opacity: .8; transition: .15s; object-fit: contain;}
.anyi-icon:hover { opacity: 1; transition: .15s; cursor: pointer; }

 
/* 颜色 */

 
/* 对齐 */
.anyi-alignc{text-align: center!important;}
.anyi-aligncc{justify-content: center; align-items: center;}
 
/* 行高 */
.anyi-line8{ line-height: 0.8em!important;}
.anyi-line{ line-height: 1em!important;}
.anyi-line12{ line-height: 1.2em!important;}
.anyi-line15{ line-height: 1.5em!important;}
.anyi-line18{ line-height: 1.8em!important;}
.anyi-line20{ line-height: 2em!important;}
  
/* icon */

/* 输入框 */
.anyi-input{ width: 350px; height: 40px; margin: 4px 0; padding-left: 25px; font-size: 1em; letter-spacing: .15px; border: none; outline: none; background-color: #ecf0f3; border-radius: 1em; box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9; }
.anyi-input:focus { box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;transition: .25s ease;  }

/* 默认单选框 */
input[type="radio"]{ font-size: 16px; min-width: 1em; min-height: 1em; vertical-align: middle;}
/* 传统单选框 */
.anyi-radio{ display:inline-block; width: 1em!important; height: 1em!important; border-radius: 100%; border: 1px solid #09BB07; box-shadow: -1px 1px 3px #0000009a; background-color: #ffffff; font-size:18px; -webkit-appearance:none; -moz-appearance:none; appearance:none; }
.anyi-radio:checked{background-color: #09BB07; }
.anyi-radio:hover{box-shadow: 0px 0px 5px 2px #0abb07bb; }
.anyi-radio:before{display:inline-block; position: relative; content:''; font-size:0.7em; top: -0.2em; left: 0.2em; }
.anyi-radio:checked:before{ content:'\2714'; color:#eff7ef; }
.anyi-radio:disabled{background-color: #ccc;border:none;cursor: not-allowed;}
/* 单选框 */
.anyi-radio2{ display:inline-block; 
    width: 3em!important; 
    height: 1em!important; 
    border-bottom: 3px solid #09BB07; 
    border-radius: 0px;
    margin-left: 0!important;
    margin-right: 0!important;
    margin-bottom: 1em;
    background-color: #ffffff00; 
    font-size:18px; -webkit-appearance:none; -moz-appearance:none; appearance:none; }
    .anyi-radio2:hover{font-weight: bold; }
    .anyi-radio2:before{display:inline-block; 
       position: relative; content:'文本'; 
       width: 0;
       white-space:nowrap;
       font-size:1em;  color:#e74514; color:#000000; top: 0em; left: 0em;}
    .anyi-radio2:after{display:inline-block; 
       position: relative; content:'\29bf'; 
       color: #09BB07; 
       background-color:#fff;
       border-radius: 100%;
       width: 1em;
       height: 1em;
       font-size: 1.2em;
       box-shadow: -1px 1px 3px #0000009a; 
       top: 0em;
        left: -0.2em;}
    .anyi-radio2:checked:after{ 
        content:'\29bf'; 
        box-shadow: 0px 0px 10px 3px #0abb07bb; 
       }
   
    .anyi-radio2:disabled{background-color: #ccc;border:none;cursor: not-allowed;}


/* 默认复选框 */
input[type="checkbox"]{ font-size: 18px; min-width: 1em; min-height: 1em; vertical-align: middle; }
/* 传统复选框 */
.anyi-checkbox{ display:inline-block; width: 1em!important; height: 1em!important; border-radius: 3px; border: 1px solid #09BB07; box-shadow: -1px 1px 3px #0000009a; background-color: #ffffff; font-size:18px; -webkit-appearance:none; -moz-appearance:none; appearance:none; }
.anyi-checkbox:checked{background-color: #09BB07; }
.anyi-checkbox:hover{box-shadow: 0px 0px 5px 2px #0abb07bb; }
.anyi-checkbox:before{display:inline-block; position: relative; content:''; font-size:0.7em; top: -0.2em; left: 0.2em; }
.anyi-checkbox:checked:before{ content:'\2714'; color:#eff7ef; }
.anyi-checkbox:disabled{background-color: #ccc;border:none;cursor: not-allowed;}
/* 滑块复选框 */
.anyi-switch{ display:inline-block; font-size: 15px; width: 2.5em; height: 1em!important; border-radius: 1em; background: #ccc; box-shadow: -1px 1.5px 3px #0000009a; -webkit-appearance:none; -moz-appearance:none; appearance:none; outline: none; cursor: pointer; }
.anyi-switch:checked{ background-color: #09BB07;}
.anyi-switch:hover{box-shadow: 0px 0px 5px 2px #0abb07bb;}
.anyi-switch:before{ display:inline-block; position: relative; content:''; left: 0.05em; top: 0.05em; width: 0.9em; height: 0.9em; border-radius: 100%; background: #fff; transition:0.3s ease; }
.anyi-switch:checked:before{ content:''; left: calc(100% - 0.95em); }
.anyi-switch:after{ content:'关'; position: relative; font-size: 0.7em; color: #fff; top: -0.2em; left:calc(100% - 3em); }
.anyi-switch:checked:after{ content:'开'; left: -0.5em; }
.anyi-switch:disabled{background-color: #ccc;cursor: not-allowed;}
/* 滑块复选框 */
.anyi-switch2{ display:inline-block; font-size: 15px; width: 3.5em; height: 1em!important; border-radius: 1em; background: #ccc; box-shadow: -1px 1.5px 3px #0000009a; -webkit-appearance:none; -moz-appearance:none; appearance:none; outline: none; cursor: pointer; }
.anyi-switch2:checked{ background-color: #09BB07;}
.anyi-switch2:hover{box-shadow: 0px 0px 5px 2px #0abb07bb;}
.anyi-switch2:before{ display:inline-block; position: relative; content:''; left: 0.05em; top: 0.05em; width: 0.9em; height: 0.9em; border-radius: 100%; background: #fff; transition:0.3s ease; }
.anyi-switch2:checked:before{ content:''; left: calc(100% - 0.95em); }
.anyi-switch2:after{ display:inline-block;content: attr(anyi-n);position: relative; font-size: 0.5em; color: #fff; top: -20%; left:calc(100% - 4em); }
.anyi-switch2:checked:after{ content: attr(anyi-y); left: -0.9em; }
.anyi-switch2:disabled{background-color: #ccc;cursor: not-allowed;}

/* 按钮 */
.anyi-btn{ position: relative; width: 180px; height: 50px; border-radius: 1em; border: none; outline: none; box-shadow: -1px 1px 3px #0000009a; font-weight: 700; font-size: 14px; letter-spacing: 1.15px; background-color: #4B70E2; color: #f9f9f9; box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9; cursor: pointer;}
.anyi-btn:hover{box-shadow: 0px 0px 5px 2px #4B70E2; transition: .25s;}
.anyi-btn:active,.anyi-button:focus{background-color: #0945f8;}

/* 透明按钮 */
.anyi-btn-t{ position: relative; width: 100px; height: 38px; border-radius: 1em; border: none; outline: none; box-shadow: -1px 1px 3px #0000009a; font-weight: 700; font-size: 14px; letter-spacing: 1.15px; background-color: transparent; color: #334cdf85; box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9; cursor: pointer;}
.anyi-btn-t:hover{box-shadow: 0px 0px 5px 2px #4B70E2; transition: .25s;}

/* 轮播 */
.anyi-lunbo{ display: inline-block; position: relative; width: 300px; height: 100px; overflow: hidden;}
.anyi-lunbo-item{ display:inline-block; position:absolute; width: 100%; height: 100%;}
.anyi-lunbo img{ display:inline-block; position:absolute; width: 100%; height: 100%;  object-fit:contain; }
.anyi-lunbo-left{ display: inline-block; position: absolute!important;left: 0;top: 25%; height: 50%;width: 30px; border-radius: 0.5em;box-shadow: none;}
.anyi-lunbo-left:before{display: inline-block;content: '\2b9c';height: 100%;width: 100%;font-size: 18px;}
.anyi-lunbo-left:hover{box-shadow:none;}
.anyi-lunbo-left:hover:before{color: #0945f8;}
.anyi-lunbo-right{ display: inline-block; position: absolute!important;right: 0;top: 25%; height: 50%;width: 30px;border-radius: 0.5em;box-shadow: none;}
.anyi-lunbo-right:before{display: inline-block;content: '\2b9e';height: 100%;width: 100%;font-size: 18px;}
.anyi-lunbo-right:hover{box-shadow:none;}
.anyi-lunbo-right:hover:before{color: #0945f8;}
.anyi-lunbo-sbox{ display: inline-block; position: absolute;text-align: center;bottom: 0;width: 100%;}
.anyi-lunbo-sitem{ width: 6px;height: 6px;border-radius: 50%;padding: 0;border:none;background-color: #f87878c0;margin-left: 2px;}
.anyi-lunbo-sitem[anyi-selected]{ width: 6px;height: 6px;border-radius: 50%;padding: 0;border:none;background-color: #fd0b0bfa;margin-left: 2px;}

/* 表格 */
.anyi-table{display: inline-block; 
    position: relative; 
    border-spacing:0px; 
    border-left: 1px solid #d3d2d2;
    border-top: 1px solid #d3d2d2;
    box-sizing: border-box;border-collapse: collapse;
    text-align: center;line-height: 1.5em;margin:10px 20px;color: #696666;}
.anyi-table td{padding: 2px 8px;border: 1px solid #d3d2d2;border-top: none;border-left: none;}
